body{
  min-height: 100vh;
  min-width: 100vh;
  margin: auto;
  min-width: 320px;
  max-width: 1000px;
}

.homepage{
  background-image: url('img/praia2.jpg');
  position:absolute;
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 3em;
  right: 0;
  text-align: center;
  top: 0;
  background-size: cover;
  }

.homepage .container{
  margin: 200px auto;
  background-color: rgba(195, 195, 195, 0.856);
  border-radius: 45px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h1{
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

footer{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer hr{
  height: 0px;
  margin: 0 auto 8px;
  border: 1px solid #b1bbc4
}

#fim{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px  0;
  width: 100%;
}

footer img{
  width: 200px;
}

.destinopage .container{
  margin: 125px auto 50px;
  background-color: rgba(195, 195, 195, 0.856);
  border-radius: 45px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.destinopage{
  background: rgb(131,58,180);
  background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(62,29,253,1) 50%, rgba(252,176,69,1) 100%);
}
.container{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,0.7371323529411764) 34%, rgba(252,155,70,0.6418942577030813) 100%);
}

.container h4{
  font-size: 35px;
}

.table-responsive{
  width: 75% !important;
  margin: 50px auto;
  font-size: 25px;
  border-radius: 15px;
} 

tfoot{
  font-size: 60px!important;
}

.form-select{
  width: 50%;
  margin-bottom: 5px;
}

.promopage{
  background: rgb(131,58,180);
  background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(62,29,253,1) 50%, rgba(252,176,69,1) 100%);
}

.promopage .jumbotron-fluid{
  margin: 150px auto 100px;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,0.7371323529411764) 34%, rgba(252,155,70,0.6418942577030813) 100%);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
}

button{
  border-radius: 5px;
  background-color: rgb(228, 141, 59);
  text-decoration: none;
  border: 1px;
  padding: 15px;

}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(255, 193, 23);
}

.form-select{
  border-radius: 5px;
}

#contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  text-align: center;
  margin: 100px auto 0;
}

#contato h1{
  color: black;
}

#contato button{
  margin-top: 25px;
  width: 350px;
  background-color: rgb(228, 141, 59);
}

.modal{
  width: 300px;
}

.modal-content{
  width: 300px;
}

.list-group-item:hover{
  background-color: rgba(255, 183, 101, 0.65);
}